html,body{
    padding:0;
    margin:0;
    width: 100%;
    height:100%;
    background-color: white;
    font-size: 10px;
    overflow: hidden;
}

.main_container{
    padding:10%;
    background-color: white;
}

.graph_container{
    width:100%;
    height:40%;
    border-radius: 3%;
    background-color:black;
    border:0.05rem solid silver;
    overflow: hidden;
    position: relative;
}
.graph_wrapper{
    /* 스크롤 그래프 구현하고 싶을 
     position: absolute; 
    */
    display: flex;
    flex-direction: row;
    list-style:none;
    align-items: center;
    height:100%;
    padding:0 2%;
    margin:0;
}
.graph_column{
    display: flex;
    flex-direction: column-reverse;
    width:3rem;
    height: 90%;
    padding: 0 0.2rem;
}
.active_column{
    background-color: rgba(255,255,255,0.1);
}
.unactive_column{
    opacity: 0.3;
}
.graph_element{
    width:100%;
    border-radius:0.3rem;
    margin: 0.1rem 0;
}