.chartJS_container {
    padding-top:5%;
    width: 100%;
    display:flex;
    justify-content: center;
    height:auto;
    position: relative;
  }

.chartJS_wrapper{
  width:90%;
  position:relative;
  padding:0% 0%;
  border-radius: 3rem;
  background-color: #f0e1ca;
}

.chartJS_text{
  margin-top:5%;
  margin-left:5%;
  font-size:6rem;
  color:#675b43;
  margin-bottom:20%;
}

.chartJS_spendline{
  position:absolute;
  top:40%;
  border:none;
  color:rgba(255, 255, 255, 0);
  width:100%;
  height:1px;
  border-top:1rem dashed rgba(255, 193, 3, 0.4);
}

.chartJS_spendtext{
  border-radius:3rem;
  position:absolute;
  top:40%;
  padding:2rem;
  font-size:4rem;
  background-color:rgba(255, 193, 3, 0.4);
  left:5%;
  transform:translateY(-35%);
  color:white;
}

.chartJS_agecontainer{
  display:flex;
  font-size:3rem;
  list-style:none;
  justify-content: space-between;
  padding:0 0.5%;
  color:#675b43;
  font-weight: bold;
}

.chartJS_edit_container{
  margin-top:3%;
  display:flex;
  justify-content: space-between;
  width:100%;
  height:auto;
}

.chartJS_edit{
  width:42.5%;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
  font-size: 4rem;
  border-radius: 2rem;
}

.edit_spend{
  margin-left: 5%;
  background-color:#f7ac00;
}

.edit_age{
  margin-right:5%;
  background-color:#887a64;
}

.chartJS_spend_container{
  margin-top:3%;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.chartJS_spend_wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:90%;
  background-color:#f7f6f6;
  padding: 3% 0;
  border: 1px solid silver;
  border-radius: 2rem;
}

.spend_text_wrapper{
  width:95%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding:1% 0;
  font-size:5rem;
}

.spend_text{

}

.spend_input{

}

.spend_close_btn{
  width:4rem;
  height:4rem;
  color:transparent;
  background-image: url(../assets/images/close_btn.png);
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
}

.chartJS_spend_row{
  margin:0;
  padding:0;
  margin-top:2%;
  list-style: none;
  display:flex;
  width:100%;
  justify-content: space-around;
}

.chartJS_spend_element{
  font-size:4rem;
  padding:3rem 2rem;
  background-color:white;
  border-radius: 2rem;
  border: 1px solid silver;
}

.spend_selected{
  background-color: #f7ac00;
  color:#ffe8b3;
  border: 2px solid #ffe8b3;
}

.chartJS_spend_btn{
  margin-top:3%;
  font-size: 4rem;
  border-radius: 2rem;
  width:90%;
  text-align:center;
  padding:3% 0;
  background-color: #f7ac00;
  color:white;
}