.overlay_container{
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    /* 255 165 0  */
    color:white;
    width:100%;
    height:100%;
    transition: all 1s;
}

.overlay_hide{
    opacity: 0;
}

.overlay_none{
    display: none;
}

